/* Hex colors #EBC43E, #4364C4 */
/* landing page animations and content */
.pokeballlanding {
    background: linear-gradient( rgba(255, 0, 212, 0.555), rgba(50, 230, 200, 0.671)), url(images_v2/Pokeball.png), url(images_v2/explosion.gif);
    width: 100%;
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    z-index: 3;
}
.pokeball {
    z-index: 4;
}
#enterhere {
    position: absolute;
    top: 520;
    left: 320px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.6em;
    text-align: center;
}
.littlepokeball {
    width: 40px;
    position: absolute;
    top: 70px;
    left: 370px;
}
.shadowcat {
    position: absolute;
    top: 200px;
    left: 120px;
    border-radius: 10px;
    z-index: 0;
    animation: catglide 5s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#shadowcat {
    animation: spinner 4s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    transform: rotate(360deg);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes catglide {
    from {
      transform: translateX(-400px);
    }   
    to {
      transform: translateX(1400px);
    }
}
@keyframes spinner {
    from {
      transform: rotateZ(0deg)
    }   
    to {
      transform: rotateZ(360deg);
    }
}
.landpgtxt {
    font-size: 5em;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.tinycat {
    width: 50px;
    position: absolute;
    top: 8px;
    left: 1230px;
}
/* main page */
nav {
    height: 65px;
    background: rgb(50, 230, 200);
    margin: 3px;
    padding: 0px;
    position: relative;
    overflow: hidden;
}
nav a {
    float: left; 
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    display: block;
    margin-top: 0px;
    text-align: center;
    padding: 10px;
    text-decoration: none; 
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
.sticky + .content {
    padding-top: 60px;
    z-index: 5;
}
.logo {
    display: block;
    position: absolute;
    height: 60px;
    top: 100%;
    left: 50%;
    margin-top: -32px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
h2 {
    color: black;
    font-size: 1.4em;
    text-shadow: 2px 2px 2px rgb(50, 230, 200);
}
h3 {
    text-align: center;
    font-size: 1.2em;
    margin-top: 3px;
    margin-bottom: -2px;
}
body {
    background:  linear-gradient( rgba(255, 0, 212, 0.555), rgba(50, 230, 200, 0.671)), url(images/snow2.gif), url(images/fuji1.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
li {
    background-color: rgba(11, 30, 65, 0.884);
    font-family: fantasy;
    color: white;
    font-size: 1.8em;
    padding: 5px;
    text-decoration: none;
    display: grid;
    border-radius: 3px;
    opacity: 0.9;
    box-shadow: 1px 1px 1px 1px rgba(50, 230, 200, 0.479)
}
img {
    margin: 3px;
}
#talonflame {
    position: absolute;
    top: 90px;
    left: 700px;
    animation: fly 7s infinite linear;
    animation-fill-mode: forwards;
}
.talonflame {
    position: absolute;
    top: 265px;
    left: 1140px;
}
@keyframes fly {
    from {
      transform: translateX(870px) scale(0.7);
    }   
    to {
      transform: translateX(-850px) scale(2.0);
    }
}
#guzzlord {
    position: absolute;
    top: 250px;
    left: 20px;
    transform: scale(0.80);
}
/* css shake/cubic bezier animation done with help from https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
#guzzlord:hover {
    animation: shake 0.60s cubic-bezier(.36,.07,.19,.97) both infinite;
    animation-fill-mode: ease-out forwards;
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px,0,0);
    }
    20%, 80% {
    transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-6px, -2px, 0);
    }
    40%, 60% {
        transform: translate3d(6px, 2px, 0);
    }
}
.guzzlord {
    position: absolute;
    top: 685px;
    left: 50px;
}
#blaziken {
    position: absolute;
    top: 370px;
    left: 800px;
    transform: scale(0.9);
    animation: slidein1 ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    opacity: 0; 
}
.blaziken {
    position: absolute;
    top: 785px;
    left: 840px;
}
@keyframes slidein1 {
  0% {
    opacity:0;
    transform:  translate(-1100px)  ;
  }
  50% {
    opacity:1;
    transform:  translate(30px)  ;
  }
  80% {
    transform:  translate(-20px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}
/* materialize container styling */
.container {
    position: absolute;
    top: 1000px;
    left: 30px;
    right: 53.5;
    height: 550px;
    width: 100%;
	padding: 15px;
	margin: -4 0 0;
    opacity: 1;
    color: black;
    font-size: 1.3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient( #FFFF, rgb(50, 230, 200), rgb(150, 11, 103));
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: black( 10px, 10px, 10px);
    text-align: center;
}
.talonflameimg, .guzzlordimg {
    border: 4px black;
}
#explodePic1 {
    opacity: 0;
    position: absolute;
    top: 1550px;
    left: 0px;
}
#explodePic2 {
    opacity: 0;
    position: absolute;
    top: 1550px;
    left: 520px;
}
div {
    z-index: 4;
    overflow: visible;
    position: center;
    box-shadow: black( 10px, 10px, 10px);
}
#fadeIn {
    opacity: 1;
    animation: fadeIn 1.2s forwards;
    position: absolute;
    top: 1550px;
    left: 27px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
}
#fadeIn2 {
    opacity: 1;
    animation: fadeIn 1.2s forwards;
    position: absolute;
    top: 1550px;
    left: 667px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}