/* Hex colors #EBC43E, #4364C4 */
nav {
    height: 75px;
    background-color: #EBC43E;
    margin: 3px;
    padding: 0px;
    position: relative;
    overflow: hidden;
}
nav a {
    float: left; 
    color: #4364C4;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.3em;
    display: block;
    margin-top: 15px;
    text-align: center;
    padding: 14px;
    text-decoration: none; 
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
.sticky + .content {
    padding-top: 60px;
    z-index: 5;
}
.logo {
    display: block;
    position: absolute;
    height: 60px;
    top: 100%;
    left: 50%;
    margin-top: -40px;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}
body {
    background-image: url(images/fuji1.svg);
    background-size: cover;
    width: 100%;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
li {
    background-color: rgba(25, 106, 255, 0.884);
    font-family: fantasy;
    color: white;
    font-size: 1.8em;
    padding: 5px;
    text-decoration: none;
    display: grid;
    border-radius: 3px;
    opacity: 0.9;
}
img {
    margin: 3px;
}
#talonflame {
    position: absolute;
    top: 90px;
    left: 700px;
    animation: fly 7s infinite linear;
    animation-fill-mode: forwards;
}
.talonflame {
    position: absolute;
    top: 300px;
    left: 1050px;
}
@keyframes fly {
    from {
      transform: translateX(700px) scale(1);
    }   
    to {
      transform: translateX(-850px) scale(2.0);
    }
}
#guzzlord {
    position: absolute;
    top: 270px;
    left: 50px;
    transform: scale(0.85);
}
/* css shake/cubic bezier animation done with help from https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
#guzzlord:hover {
    animation: shake 0.60s cubic-bezier(.36,.07,.19,.97) both infinite;
    animation-fill-mode: forwards;
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px,0,0);
    }
    20%, 80% {
    transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-6px, -2px, 0);
    }
    40%, 60% {
        transform: translate3d(6px, 2px, 0);
    }
}
.guzzlord {
    position: absolute;
    top: 750px;
    left: 50px;
}
#blaziken {
    position: absolute;
    top: 400px;
    left: 800px;
    transform: scaleX(-1) scale(0.9);
}
.blaziken {
    position: absolute;
    top: 820px;
    left: 770px;
}
.container {
    position: absolute;
    top: 1050px;
    height: 650px;
    width: 100%;
	padding: 0;
	margin: 0;
    opacity: 1;
    color: black;
    font-size: 1.3em;
    /* background-color: #EBC43E; */
    background: linear-gradient(#EBC43E, red);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* z-index: -1; */
}
div {
    z-index: 4;
    overflow: visible;
    position: center;
}

